/*
  Appending custom SCSS variables will override the default ones in `_sass/addon/variables.scsss`
*/

// Initial styles for the icons
#icon-open {
  display: inline;
}

#icon-close {
  display: none;
}

// Styles when the sidebar is expanded
body[sidebar-display] {
  #icon-open {
    display: none;
  }

  #icon-close {
    display: inline;
  }
}
